<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Editar marcas</h1><br><br>

    <button type="button">
        <a href="{% url 'marcasAdd' %}">Agregar</a>
    </button>

    <div id="idMensajes">
        {% if mensaje %}
            {{mensaje}}
        {% endif %}
    </div>
    <table>
        {% if marcas %}
            <th>Id</th>
            <th>Marca</th>
            <th>Eliminar</th>
            <th>Editar</th>
            {% for marca in marcas %}
                <tr>
                    <td>{{marca.id_marca}}</td>
                    <td>{{marca.marca}}</td>
                    <td><a href="{% url 'marcas_del' pk=marca.id_marca %}">Eliminar</a></td>
                    <td><a href="{% url 'marcas_edit' pk=marca.id_marca %}">Editar</a></td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>
    <script>
        $(document).ready(function(){
            $("#idMensajes").delay(2000).fadeOut("slow");
        });
    </script>
</body>
</html>