{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Marca</title>
    <link rel="stylesheet" href="{% static 'crud-styles.css' %}">
</head>
<body>
    <div class="crud-form-container">
        <h1>Formulario Marcas</h1>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input type="submit" name="opcion" value="Agregar">
        </form>
        <div id="idMensajes">
            {% if mensaje %}
                {{ mensaje }}
            {% endif %}
        </div>
        <div class="button-container">
            <a href="{% url 'crud_marcas' %}">Volver</a>
        </div>
    </div>
</body>
</html>
