<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style=" text-align: center;">

        {% if producto %}
            <h2>Formulario Actualizar Datos</h2><br>

            <form action="{% url 'productosUpdate' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="id_producto" value="{{ producto.id_producto }}">
                <pre>Nombre:      <input type="text" name="nombre" value="{{producto.nombre}}"></pre>
                <pre>Precio:      <input type="number" name="precio" value="{{producto.precio}}"></pre>
                <pre>Imagen:      <input type="file" name="imagen" accept="imagen/*" value="{{producto.imagen}}"></pre>
                <pre>Color:       <input type="text" name="color" value="{{producto.color}}"></pre>
                <pre>Descripción: <textarea name="descripcion" rows="4" cols="50" value="{{producto.descripcion}}"></textarea></pre>
                <pre>Marca: <select name="id_marca">
                                {% for marca in marcas %}
                                    {% if marca.id_marca == producto.id_marca %}
                                        <option value="{{ marca.id_marca }}" selected>{{ marca.marca }}</option>
                                    {% else %}
                                        <option value="{{ marca.id_marca }}">{{ marca.marca }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select></pre>
                    

                <input type="submit" name="opcion" value="Actualizar">

            </form><br><br>
        {% endif %}
            <div id="idMensajes">
                {% if mensaje %}
                    {{ mensaje }}
                {% endif %}
            </div>
            <br><br>
            <a href="{% url 'crud' %}">Volver</a>
    </div>
</body>
</html>